@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

#loading-screen {
    height: 100vh;
    width: 100vw;
    background-color: #d6be39;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen .loader {
    color: #dea0b7;
    font-size: 200px;
    font-family: 'VT323', monospace;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}