@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

canvas {
    width: 100vw;
    height: 100vh;
}

#prompt-indicator {
    position: fixed;
    display: none;
    top: 40dvh;
    left: 60dvw;
    padding: 1rem 2rem;
    text-transform: uppercase;
    border: 5px solid #fff;
    border-radius: 15px;
    color: #fff;
    z-index: 9999;
    animation: blink 1s infinite;
    font-family: 'VT323', monospace;
    font-size: xx-large;
}

@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }